* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.titulo {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


nav {
    text-align: center;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

    nav .inicio, .hot, .vor, .ynn, .qda {
        font-size: 25px;
        color: black;
        font-weight: 600;
        text-decoration: none;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
    }

        nav .inicio > a, .hot > a, .vor > a, .ynn > a, .qda > a {
            font-size: 25px;
            color: black;
            font-weight: 600;
            text-decoration: none;
            display: block;
        }

            nav .inicio > a:hover, .hot > a:hover, .vor > a:hover, .ynn > a:hover, .qda > a:hover {
                text-decoration: underline;
            }

.inicio {
    background: hsla(317,45%,52%,0.9);
    background: -webkit-linear-gradient(to right, hsla(340,95%,50%,0.4), hsla(317,45%,52%,0.4));
    background: linear-gradient(to right, hsla(340,95%,50%,0.4), hsla(317,45%,52%,0.4));
}

.vor {
    background: hsla(60, 100%, 50%, 0.9);
    background: -webkit-linear-gradient(to right, hsla(25, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
    background: linear-gradient(to right, hsla(25, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
}

.ynn {
    background: hsla(303, 100%, 50%, 0.9);
    background: -webkit-linear-gradient(to right, hsla(303, 100%, 50%, 0.7), hsla(303, 100%, 100%, 0.7));
    background: linear-gradient(to right, hsla(303, 100%, 50%, 0.7), hsla(303, 100%, 100%, 0.7));
}

.qda {
    background: hsla(60, 100%, 50%, 0.9);
    background: -webkit-linear-gradient(to right, hsla(356, 100%, 50%, 0.7), hsla(119, 100%, 50%, 0.7));
    background: linear-gradient(to right, hsla(356, 100%, 50%, 0.7), hsla(119, 100%, 50%, 0.7));
}

.hot {
    background: hsla(240, 100%, 50%, 0.9);
    background: -webkit-linear-gradient(to right, hsla(240, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
    background: linear-gradient(to right, hsla(240, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
}


header .textos-header {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.textos-header h1{
    font-size: 50px;
    color: black;
}


header {
    width: 100%;
    height: 400px 400px;
    background: hsla(60, 100%, 50%, 0.9); /* color de fondo amarillo */
    background: -webkit-linear-gradient(to right, hsla(25, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
    background: linear-gradient(to right, hsla(25, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
    background-size: 1350px 750px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75.4vh;
    height: 400px 400px;
    background: hsla(60, 100%, 50%, 0.9); /* color de fondo amarillo */
    background: -webkit-linear-gradient(to right, hsla(25, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
    background: linear-gradient(to right, hsla(25, 100%, 50%, 0.7), hsla(60, 100%, 50%, 0.7));
    background-size: 1350px 750px;
}

.button1 {
    background: url(./img/verdad.png);
    background-size: 300px;
    background-position: center;
    border: none;
    color: white;
    padding: 150px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button3 {
    background: url(./img/reto.png);
    background-size: 300px;
    background-position: center;
    border: none;
    color: white;
    padding: 150px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background: url(./img/reiniciar.png);
    background-size: 300px;
    background-position: center;
    border: none;
    color: white;
    padding: 150px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}
#mySection {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(./img/cervezapx.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 600px 500px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 600px; /* Agregar un ancho fijo */
    height: 400px; /* Agregar un alto fijo */
}

    #mySection > * {
        padding: 2rem;
        font-size: calc(2vmin + 20px);
        line-height: 1.2;
        color: black;
        transform: translateY(30%);
        left: 20px;
        text-align: justify;
    }

#closeButton {
    /* Use Flexbox for centering the button */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 18px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    /* Add margin from the bottom */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 1px solid black; /* Add this line to create a black border */
}
#mySection2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(./img/cervezapx.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 600px 500px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 600px; /* Agregar un ancho fijo */
    height: 400px; /* Agregar un alto fijo */
}

    #mySection2 > * {
        padding: 2rem;
        font-size: calc(2vmin + 20px);
        line-height: 1.2;
        color: black;
        transform: translateY(30%);
        left: 20px;
        text-align: justify;
    }

#closeButton2 {
    /* Use Flexbox for centering the button */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 18px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    /* Add margin from the bottom */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 1px solid black; /* Add this line to create a black border */
}

@media screen and (max-width:900px) {
    nav .inicio, .hot, .vor, .qda, .ynn {
        width: 50%;
        text-align: center;
        display:block;
    }

        nav .inicio > a, .hot > a, .vor > a, .qda > a, .ynn > a {
            font-size: 20px;
            justify-content: center;
        }

    header {
        background-size: cover;
    }

    .button-section {
        background-size: cover;
        flex-direction: column;
    }

    .textos-header h1 {
        font-size: 70px;
    }

    .button1 {
        background-size: 220px 220px;
        padding: 110px;
    }

    .button2 {
        background-size: 220px 220px;
        padding: 110px;
    }
    .button3 {
        background-size: 220px 220px;
        padding: 110px;
    }

    #mySection {
        background-size: 300px 300px;
        height: 250px;
        width: 300px;
    }

        #mySection h2 {
            padding: 30px 0 10px 10px;
            font-size: 15px;
        }

    #closeButton {
        font-size: 10px;
    }
    #mySection2 {
        background-size: 300px 300px;
        height: 250px;
        width: 300px;
    }

        #mySection2 h2 {
            padding: 30px 0 10px 10px;
            font-size: 15px;
        }

    #closeButton2 {
        font-size: 10px;
    }
}

@media screen and (max-width:700px) {
    nav .inicio, .hot, .vor, .qda, .ynn {
        width: 50%;
        text-align: center;
    }

        nav .inicio > a, .hot > a, .vor > a, .qda > a, .ynn > a {
            font-size: 15px;
            justify-content: center;
        }

    header {
        background-size: cover;
    }

    .button-section {
        background-size: cover;
        flex-direction: column;
    }

    .textos-header h1 {
        font-size: 50px;
    }

    .button1 {
        background-size: 150px 150px;
        padding: 75px;
    }

    .button2 {
        background-size: 150px 150px;
        padding: 75px;
    }
    .button3 {
        background-size: 150px 150px;
        padding: 75px;
    }

    #mySection {
        background-size: 250px 250px;
        height: 200px;
        width: 250px;
    }

        #mySection h2 {
            padding: 25px 0 10px 10px;
            font-size: 13px;
        }

    #closeButton {
        font-size: 8px;
    }
    #mySection2 {
        background-size: 250px 250px;
        height: 200px;
        width: 250px;
    }

        #mySection2 h2 {
            padding: 25px 0 10px 10px;
            font-size: 13px;
        }

    #closeButton2 {
        font-size: 8px;
    }
}

@media screen and (max-width:500px) {

    nav {
        padding: 20px 0 0 0;
    }

        nav .inicio, .hot, .vor, .ynn, .qda {
            margin-right: 5px;
            border: 1px solid #ccc;
            padding: 2px 10px;
            border-radius: 5px;
            text-align: center;
        }

            nav .inicio > a, .hot > a, .vor > a, .ynn > a, .qda > a {
                font-size: 7px;
                color: black;
                display: block;
            }

    .textos-header h1 {
        font-size: 40px;
    }

    header {
        background-size: cover;
    }

    .button-section {
        background-size: cover;
        flex-direction: column;
    }

    .button1 {
        background-size: 120px 120px;
        padding: 60px;
    }

    .button2 {
        background-size: 120px 120px;
        padding: 60px;
    }
    .button3 {
        background-size: 120px 120px;
        padding: 60px;
    }

    #mySection {
        background-size: 200px 200px;
        height: 150px;
        width: 200px;
    }

        #mySection h2 {
            padding: 15px 0 10px 10px;
            font-size: 10px;
        }

    #closeButton {
        font-size: 5px;
    }
    #mySection2 {
        background-size: 200px 200px;
        height: 150px;
        width: 200px;
    }

        #mySection2 h2 {
            padding: 15px 0 10px 10px;
            font-size: 10px;
        }

    #closeButton2 {
        font-size: 5px;
    }
}
